In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/employees.csv - employees.csv.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    998 non-null    object
 4   Salary             1000 non-null   int64
 5   Bonus %            999 non-null    float64
 6   Senior Management  933 non-null    object
 7   Team               953 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [ ]:
df.head(5) # head

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,08-06-1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,03-04-2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,NaN

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [ ]:
df["Team"].nunique()

11

In [ ]:
df["Team"].unique()

array(['Marketing', nan, 'Finance', '0', 'Engineering',
       'Business Development', 'Legal', 'Human Resources', 'Product',
       'Client Services', 'Sales', 'Distribution'], dtype=object)

In [ ]:
df.columns.nunique()

8

In [ ]:
df['Team'].value_counts()

Team
Client Services         105
Finance                 101
Business Development    101
Marketing                98
Product                  94
Sales                    93
Engineering              92
Human Resources          90
Distribution             90
Legal                    87
0                         2
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

First Name            67
Gender               145
Start Date             0
Last Login Time        2
Salary                 0
Bonus %                1
Senior Management     67
Team                  47
dtype: int64

In [ ]:
df.isnull().sum()*100/len(df)

First Name            6.7
Gender               14.5
Start Date            0.0
Last Login Time       0.2
Salary                0.0
Bonus %               0.1
Senior Management     6.7
Team                  4.7
dtype: float64

In [ ]:
df.dropna(subset=['Team'], inplace=True)

In [ ]:
df = df[df['Team'] != '0']

In [ ]:
df = df.dropna(subset=['Last Login Time'])

In [ ]:
df['First Name'] = df['First Name'].fillna('Unknown')

In [ ]:
df_copy = df.copy()
df_copy['Gender'] = df_copy['Gender'].fillna(df_copy['Gender'].mode()[0])

In [ ]:
df.isnull().sum()

First Name            0
Gender                0
Start Date            0
Last Login Time       0
Salary                0
Bonus %               1
Senior Management    57
Team                  0
dtype: int64

In [ ]:
df_copy = df.copy()
df_copy['Bonus %'] = df_copy['Bonus %'].fillna(df_copy['Bonus %'].mean())

In [ ]:
df_copy = df.copy()
df_copy['Senior Management'] = df_copy['Senior Management'].fillna(df_copy['Senior Management'].mode()[0])

In [ ]:
df.isnull().sum()

First Name           0
Gender               0
Start Date           0
Last Login Time      0
Salary               0
Bonus %              0
Senior Management    0
Team                 0
dtype: int64

In [ ]:
df['First Name']

0      Douglas
2        Maria
3        Jerry
9      Frances
11       Julie
        ...
995      Henry
996    Phillip
997    Russell
998      Larry
999     Albert
Name: First Name, Length: 950, dtype: object

In [ ]:
X = df[["First Name", "Gender", "Senior Management"]]
X

    First Name  Gender  Senior Management
0      Douglas    Male               True
2        Maria  Female              False
3        Jerry    Male               True
9      Frances  Female               True
11       Julie  Female               True
..         ...     ...                ...
995      Henry  Female              False
996    Phillip    Male              False
997    Russell    Male              False
998      Larry    Male              False
999     Albert    Male               True

[950 rows x 3 columns]

In [ ]:
df.iloc[:, [1,2,4]]

     Gender  Start Date  Salary
0      Male  08-06-1993   97308
2    Female   4/23/1993  130590
3      Male  03-04-2005  138705
9    Female  08-08-2002  139852
11   Female  10/26/1997  102508
..      ...         ...     ...
995  Female  11/23/2014  132483
996    Male   1/31/1984   42392
997    Male   5/20/2013   96914
998    Male   4/20/2013   60500
999    Male   5/15/2012  129949

[950 rows x 3 columns]

In [ ]:
df.columns.tolist()

['First Name',
 'Gender',
 'Start Date',
 'Last Login Time',
 'Salary',
 'Bonus %',
 'Senior Management',
 'Team']

In [ ]:
df.sort_values(by = "Salary", ascending = True)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
576,Michael,Male,7/30/1993,5:35 PM,35013,14.879,False,Product
238,Kevin,Male,3/25/1982,7:31 AM,35061,5.128,False,Legal
82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services
63,Matthew,Male,01-02-2013,10:33 PM,35203,18.040,False,Human Resources
650,Cynthia,Female,07-05-1986,1:24 AM,35381,11.749,False,Finance
...,...,...,...,...,...,...,...,...
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance
186,Unknown,Female,2/23/2005,9:50 PM,149654,1.825,True,Sales
828,Cynthia,Female,07-12-2006,8:55 AM,149684,7.864,False,Product
429,Rose,Female,5/28/2015,8:40 AM,149903,5.630,False,Human Resources
644,Katherine,Female,8/13/1996,12:21 AM,149908,18.912,False,Finance

In [ ]:
df['doubleSalary'] = df["Salary"]*2
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary
0,Douglas,Male,08-06-1993,12:42 PM,97308,6.945,True,Marketing,194616
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,261180
3,Jerry,Male,03-04-2005,1:00 PM,138705,9.340,True,Finance,277410
9,Frances,Female,08-08-2002,6:51 AM,139852,7.524,True,Business Development,279704
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal,205016
...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,264966
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,193828
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,121000
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,259898

In [ ]:
df['topPerformer'] = ["yes" if i>10 else "no" for i in df["Bonus %"]]
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
0,Douglas,Male,08-06-1993,12:42 PM,97308,6.945,True,Marketing,194616,no
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,261180,yes
3,Jerry,Male,03-04-2005,1:00 PM,138705,9.340,True,Finance,277410,no
9,Frances,Female,08-08-2002,6:51 AM,139852,7.524,True,Business Development,279704,no
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal,205016,yes
...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,264966,yes
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784,yes
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,193828,no
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,121000,yes
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,259898,yes

In [ ]:
df.iloc[21:28,]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
31,Joyce,Female,2/20/2005,2:40 PM,88657,12.752,False,Product,177314,yes
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development,238164,yes
34,Jerry,Male,01-10-2004,12:56 PM,95734,19.096,False,Client Services,191468,yes
35,Theresa,Female,10-10-2006,1:12 AM,85182,16.675,False,Sales,170364,yes
36,Rachel,Female,2/16/2009,8:47 PM,142032,12.599,False,Business Development,284064,yes
37,Linda,Female,10/19/1981,8:49 PM,57427,9.557,True,Client Services,114854,no
38,Stephanie,Female,9/13/1986,1:52 AM,36844,5.574,True,Business Development,73688,no

In [ ]:
df.iloc[13:18, 1:5]

    Gender  Start Date Last Login Time  Salary
22  Female  03-08-2012         1:58 AM   90816
24    Male  07-01-1992        10:08 PM   97950
25    Male  10-08-2012         1:12 AM   37076
26    Male   2/27/2000         7:45 AM   37598
27  Female  07-11-1991         6:58 PM  122367

In [ ]:
df.sample(10)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering,112900,yes
541,Ruby,Female,05-01-1999,3:36 AM,147362,7.851,True,Engineering,294724,no
119,Paul,Male,06-03-2008,3:05 PM,41054,12.299,False,Marketing,82108,yes
182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development,247880,yes
408,Joe,Male,12-05-2010,4:20 PM,144082,1.620,True,Client Services,288164,no
557,Jane,Female,06-01-1994,8:39 AM,42424,18.115,False,Distribution,84848,yes
644,Katherine,Female,8/13/1996,12:21 AM,149908,18.912,False,Finance,299816,yes
468,Janice,Female,6/28/1997,1:48 PM,136032,10.696,True,Marketing,272064,yes
702,Debra,Female,3/17/2011,1:12 PM,84693,6.976,True,Finance,169386,no
584,Jack,Male,5/30/2012,3:17 AM,70367,18.266,True,Legal,140734,yes

In [ ]:
df[df["Team"].isin(["Legal"])]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal,205016,yes
20,Lois,Female,4/22/1995,7:18 PM,64714,4.934,True,Legal,129428,no
27,Scott,Female,07-11-1991,6:58 PM,122367,5.218,False,Legal,244734,no
29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal,159058,no
42,Beverly,Female,09-09-1998,8:26 PM,121918,15.835,False,Legal,243836,yes
...,...,...,...,...,...,...,...,...,...,...
961,Antonio,Female,6/18/1989,9:37 PM,103050,3.050,False,Legal,206100,no
976,Denise,Female,10/19/1992,5:42 AM,137954,4.195,True,Legal,275908,no
981,James,Male,1/15/1993,5:19 PM,148985,19.280,False,Legal,297970,yes
985,Stephen,Female,07-10-1983,8:10 PM,85668,1.909,False,Legal,171336,no
989,Justin,Female,02-10-1991,4:58 PM,38344,3.794,False,Legal,76688,no

In [ ]:
df[df.Salary <= 70000]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance,82852,yes
15,Lillian,Female,06-05-2016,6:09 AM,59414,1.256,False,Product,118828,no
20,Lois,Female,4/22/1995,7:18 PM,64714,4.934,True,Legal,129428,no
25,Unknown,Male,10-08-2012,1:12 AM,37076,18.576,True,Client Services,74152,yes
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing,75196,no
...,...,...,...,...,...,...,...,...,...,...
988,Alice,Female,10-05-2004,9:34 AM,47638,11.209,False,Human Resources,95276,yes
989,Justin,Female,02-10-1991,4:58 PM,38344,3.794,False,Legal,76688,no
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering,112900,yes
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784,yes
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,121000,yes

In [ ]:
df[df["Bonus %"].isin([15.0,18.0])]
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
0,Douglas,Male,08-06-1993,12:42 PM,97308,6.945,True,Marketing,194616,no
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,261180,yes
3,Jerry,Male,03-04-2005,1:00 PM,138705,9.340,True,Finance,277410,no
9,Frances,Female,08-08-2002,6:51 AM,139852,7.524,True,Business Development,279704,no
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal,205016,yes
...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,264966,yes
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784,yes
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,193828,no
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,121000,yes
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,259898,yes

In [ ]:
df[(df.Salary > 120000) & (df.Team=="Finance") | (df.Salary < 50000)]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,261180,yes
3,Jerry,Male,03-04-2005,1:00 PM,138705,9.340,True,Finance,277410,no
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance,82852,yes
25,Unknown,Male,10-08-2012,1:12 AM,37076,18.576,True,Client Services,74152,yes
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing,75196,no
...,...,...,...,...,...,...,...,...,...,...
984,Maria,Female,10/15/2011,4:53 PM,43455,13.040,False,Engineering,86910,yes
987,Gloria,Female,12-08-2014,5:08 AM,136709,10.331,True,Finance,273418,yes
988,Alice,Female,10-05-2004,9:34 AM,47638,11.209,False,Human Resources,95276,yes
989,Justin,Female,02-10-1991,4:58 PM,38344,3.794,False,Legal,76688,no
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784,yes

In [ ]:
df.drop(df.index[2])

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,doubleSalary,topPerformer
0,Douglas,Male,08-06-1993,12:42 PM,97308,6.945,True,Marketing,194616,no
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,261180,yes
9,Frances,Female,08-08-2002,6:51 AM,139852,7.524,True,Business Development,279704,no
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal,205016,yes
12,Brandon,Male,12-01-1980,1:08 AM,112807,17.492,True,Human Resources,225614,yes
...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,264966,yes
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,84784,yes
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,193828,no
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,121000,yes
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,259898,yes

In [ ]:
Y = df.groupby("Team")
Y

In [ ]:
df.groupby("Team").nunique()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,doubleSalary,topPerformer
Team,,,,,,,,,
Business Development,76,2,101,100,101,101,2,101,2
Client Services,78,2,105,102,105,105,2,105,2
Distribution,65,2,90,88,90,90,2,90,2
Engineering,71,2,91,90,91,91,2,91,2
Finance,81,2,101,99,101,101,2,101,2
Human Resources,67,2,89,90,90,90,2,90,2
Legal,75,2,87,84,87,87,2,87,2
Marketing,74,2,98,96,98,98,2,98,2
Product,74,2,94,89,94,94,2,94,2
Sales,69,2,93,90,93,92,2,93,2